{% macro nav(active="home") -%}
  <nav
    class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"
    color-on-scroll="100"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{{url_for('main_v2.index')}}" > Portfolio </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item {{ 'active' if active=='home' else '' }}">
            <a class="nav-link" href="{{url_for('main_v2.index')}}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item {{ 'active' if active=='timeline' else '' }}">
            <a class="nav-link" href="{{url_for('main_v2.timeline')}}">Timeline</a>
          </li>
          <li class="nav-item {{ 'active' if active=='projects' else '' }}">
            <a class="nav-link" href="{{url_for('main_v2.projects')}}">Projects</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
{%- endmacro %}