<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {% block title %} {% endblock %} </title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <!-- custome css -->
    {% block custome_css %}
      <!-- Fonts and icons -->
      <link
        rel="stylesheet"
        type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
      />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      />

      <!-- Material Kit CSS -->
      <link href="/static/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    {% endblock %}
  </head>
  <body class="sidebar-collapse">
    {% block nav %} 
      {% import "/ui_v2/_nav-bar_v2.html" as macros %}
      {{ macros.nav(active="home")}}
    {% endblock %}

    {% block header_content %}
      <div
        class="page-header header-filter"
        data-parallax="true"
        style="background-image: url('/static/assets/img/bg3.jpg')"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto" >
              <div class="brand text-center">
                <h1>Your title here</h1>
                <h3 class="title text-center">Subtitle</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block main_content %}
      <div class="main main-raised">
        <div class="container">
          <div class="section text-center">
            <h2 class="title">Your main section here</h2>
          </div>
        </div>
      </div>
    {% endblock %}
    
    {% block footer %} 
      {% include '/ui_v2/_footer_v2.html'  %}
    {% endblock %}
    
    
    <!--   Core JS Files   -->
    <script src="/static/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script
      src="/static/assets/js/core/bootstrap-material-design.min.js"
      type="text/javascript"
    ></script>
    <script src="/static/assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script
      src="/static/assets/js/plugins/bootstrap-datetimepicker.js"
      type="text/javascript"
    ></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script
      src="/static/assets/js/plugins/nouislider.min.js"
      type="text/javascript"
    ></script>
    <!--  Google Maps Plugin  -->
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"
    ></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script
      src="/static/assets/js/material-kit.js?v=2.0.7"
      type="text/javascript"
    ></script>
    {{ moment.include_moment() }}
  </body>
</html>
