{% extends "/ui_v2/base_v2.html" %}
{% import "/ui_v2/_nav-bar_v2.html" as macros %}

{% block title %} Welcome! - Dario {% endblock %}

{% block nav %} 
  {{ macros.nav(active="home")}}
{% endblock %}

{% block header_content %}
  <div
    class="page-header header-filter"
    data-parallax="true"
    style="background-image: url('https://images.unsplash.com/photo-1542785853-cf202360bca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto" >
          <div class="brand text-center">
            <h1>Welcome to my Portfolio</h1>
            <h3 class="title text-center">
              <span 
                    data-toggle="tooltip" 
                    data-placement="bottom" 
                    data-html="true"
                    title="Up <i class='material-icons' style='position:relative; top: 5px;'> unfold_more </i> Down">
                    
                Scroll
              </span>
              to learn more 
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  <div class="main main-raised">
    
    <div class="section section-basic">
      <div class="container">
        <div class="title">
          <h2>About Me</h2>
        </div>
        
        <!-- INFO - ABOUT -->
        <div class="container">
          <div id="navigation-pills">
            <div class="row">
              <div class=" col-sm-12">
                <div class="row">
                  <div class="col-md-3">
                    <ul
                      class="nav nav-pills nav-pills-icons flex-column"
                      role="tablist"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link active show"
                          href="#dashboard-2"
                          role="tab"
                          data-toggle="tab"
                          aria-selected="true"
                        >
                          <i class="material-icons">terminal</i>
                          Programming
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#schedule-2"
                          role="tab"
                          data-toggle="tab"
                          aria-selected="false"
                        >
                          <i class="material-icons">book</i>
                          Hobbies
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="dashboard-2">
                        <ul class="text-muted" >
                          <li>
                            <p style="font-size: 1.2rem;">
                              I have extensive programming experience with interpreseted programming languages such as JavaScript and Python as well as 
                              compiled programming languages such as Cplusplus
                            </p>
                          </li>

                          <li>
                            <p style="font-size: 1.2rem;">
                              Furthermore, I have broad experience with many libaries, frameworks, templating engines and different runtime environments such as Nodejs.
                              I have built projects with Reactjs, SQLAlchemy, Peewee, Expressjs, Flask, Jinja2, and JSX. 
                            </p>
                          </li>

                          <li>
                            <p style="font-size: 1.2rem;">
                              Lastly, I have experience working with relational databases as well as no-sql databases. 
                              Within the relational databases realm, I have design and built data bases using DML, DDL, EER Diagrams and ER Diagrams as well as data normalization techniques.
                              Within the no-sql relm, I have built applications using Google's Realtime Database, Firebase, and MongoDB. 
                            </p>
                          </li>
                        </ul> 
                      </div>
                      <div class="tab-pane" id="schedule-2">
                        <ul class="text-muted" >
                          <li>
                            <p style="font-size: 1.2rem;">
                              <span class="h3">Reading & Listening to Books</span> <br>
                              I enjoy reading in my downtime. Usually, I do either Audio Books or read a hard copy, but often I do a combination of both. 
                              I enjoy reading classical novels and texts that prompt me to reflect. The list of my most impactful books is as follows; 
                              1. Fahrenheit 451, 2. Catch-22, 3. Bluest Eye, 4. The Old Man and the Sea, and 5. Between the World and Me. 
                              I recently read Atlas of The Heart by Brené Brown, which I am still digesting...there is a lot there, lolz.
                            </p>
                          </li>

                          <li>
                            <p style="font-size: 1.2rem;">
                              <span class="h3">Playing the Guitar (and Piano*)</span> <br>
                              I currently play the guitar when I need to relax. I am not that good at it, but I think I can play around a campfire. 
                              I used to play the piano when I was younger, but I have not played in years.
                            </p>
                          </li>

                           
                       
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF INFO -->
      </div>
      <!-- WORK EXPERIENCE -->
      <div class="container">
        <div class="title">
          <h2>Work Experience</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-12 col-md-6">
                  <img src="https://training.linuxfoundation.org/wp-content/uploads/2022/03/2022-PE-Logo-w_-Meta-8-768x663.png" class="w-100" alt="">
                </div>
                <div class="col-12 col-md-6">
                  <p class="h3">Production Engineer <br><small>May 2022 - Aug 2022</small></p>
                  <p>
                    Learn about environment varibales and deploy them into a production ready application. 
                    Learn Linux fundamentals to automate certain tasks such as deployment, building apps, running service on the operating system. 
                    Use MySQL to persist data and allow users to post in a timeline.
                    Use unittesting to improve reliability and github collaborate and organize code. 
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-12 col-md-6">
                  <img src="https://static01.nyt.com/images/2019/08/22/nyregion/21summer-newsletter/21summer-newsletter-superJumbo.jpg" class="w-100" alt="">
                </div>
                <div class="col-12 col-md-6">
                  <p class="h3">Sailing Instructor <br><small>Jun 2018 - Present</small></p>
                  <p>While working as a US-Sailing Instructor at Hudson River Community Sailing, 
                    I teach multiple sailing curriculums in various programs, 
                    such as an adult program and a youth program. 
                    HRCS has helped me become a leader by providing me with the opportunity to develop programs and giving me 
                    opportunities to implement changes as I see fit. </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-12 col-md-6">
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dd/NYCDOITT.svg/1200px-NYCDOITT.svg.png" class="w-100" alt="">
                </div>
                <div class="col-12 col-md-6">
                  <p class="h3">Application Developer <br><small> May 2019 - Feb 2020</small></p>
                  <p>As an application developer at the NYC Department of Transportation, 
                    I worked on a front-end react application. Our goal was to make it easier for users 
                    to share and request data from multiple systems in the city. 
                    I was also tasked with creating ER diagrams for our database and researching query optimization options. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF WORK EXPERIENCE -->

      <!-- EDUCATION -->
      <div class="container">
        <div class="title">
          <h2>Education</h2>
        </div>

        <div class="row">
          <div class="col-12 col-md-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <img src="https://static.timesofisrael.com/www/uploads/2021/11/11-17-21-hunter-e1637335381177.jpg" class="w-100" alt="">
              </div>
              <div class="col-12 col-md-6">
                <p class="h3">The City University of New York Hunter College <br><small>(2018 - 2022)</small> </p>
                <ul>
                  <li class="display-6 ">Computer Science</li>
                  <li class="display-6 ">Economics</li>
                </ul>
              </div>
              
            </div>
          </div>
        </div> 
      </div>
      <!-- END OF EDUCATION -->

      <!-- PLACES VISITED -->
      <div class="container ">
        <div class="title">
          <h2>Locations I have Visited</h2>
        </div>
        

        <div class="embed-responsive embed-responsive-21by9 img-raised">
          <iframe class="embed-responsive-item" src="{{ url_for('main.visited_map', for_person='dario') }}"></iframe>
        </div>
      </div>
     <!-- END OF PLACES VISITED -->
    </div>
    




    <!-- <div class="container">
      <div class="section text-center">
        <h2 class="title">Main section</h2>
      </div>
    </div> -->
  </div>
{% endblock %}