{% extends "/ui_v2/base-large_v2.html" %}
{% import "/ui_v2/_nav-bar_v2.html" as macros %}

{% block title %} Projects {% endblock %}
 
{% block nav %} 
  {{ macros.nav(active="projects")}}
{% endblock %}

{% block header_content %}
  <div
  class="page-header header-filter"
  data-parallax="true"
  style="background-image: url('https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80')"
  >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto" >
        <div class="brand text-center">
          <h1>Projects Page</h1>
          <h3 class="title text-center">Still working on the idea</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block main_content %}
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Coming Soon</h2>
      </div>
    </div>
  </div>
{% endblock %}