/* 

Colors: 
Navy Blue - #05445E
Blue Grotto - #189AB4
Blue Green - #75E6DA
Baby Blue - #D4F1F4

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
}

.navbar div a {
  color: white;
}

.main-home {
  background-color: #d4f1f4;
  max-width: 100%;
  width: 100%;
  position: absolute;
  /* overflow: hidden; */
  /* height: 1920px; */
  height: 95vh;
}

.home-section {
  background-color: #189ab4;
  width: 100%;
  position: absolute;
  /* background-color: red; */
}

.home-section-top {
  left: 0px;
  top: 19.8rem;
  height: 40rem;
  display: inline-flex;
  width: 100vw;
}

.home-section-about {
  /* background-color: orangered; */
  width: 46vw;
  height: 50rem;
  position: relative;
  top: -5rem;
  /* left: 66px; */
  /* top: 177px; */
}

.home-section-about_left {
  left: 1vw;
  display: inline-flex;
  /* background-color: red; */
  margin-right: 6vw;
}

.home-section-about_right {
  /* left: 5rem;
  display: inline-flex; */
  /* background-color: red; */
  display: inline-flex;
}

.main-about-profile {
  background-color: #75e6da;
  /* top: 10rem; */
  width: 40rem;
  height: 100%;
  border-radius: 5rem;
  position: relative;
}

.main-about-profile-description_left {
  background-color: #d4f1f4;
  width: 26rem;
  height: 35rem;
  position: relative;
  /* border: solid red; */
  border-radius: 2.5rem;
  /* left: 4px; */
  top: 7.5rem;
  left: 0.2rem;
}

.main-about-profile-description_right {
  background-color: #d4f1f4;
  width: 26rem;
  height: 35rem;
  position: relative;
  /* border: solid red; */
  border-radius: 2.5rem;
  /* left: 4px; */
  top: 7.5rem;
  margin-right: 0.2rem;
  /* left: 0.2rem; */
}

.main-about-profile-actions {
  /* background-color: #189ab479; */
  width: 100%;
  height: 7rem;
  /* left: 99px; */
  /* top: 37rem; */
  /* top: 15rem; */
  top: 3.5rem;
  position: relative;
}

.button {
  background-color: #189ab4;
  padding: 1.5rem;
  /* height: 2rem; */
  border-radius: 5rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
}

.button-profile-actions {
  top: 1rem;
  /* left: 7.5vw; */
  left: 14rem;
  /* transform: translate(50%, -50); */
}

.button:hover {
  /* width: 1.5rem;
  height: 1.5rem; */
  box-shadow: 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  /* background-color: red; */
}

.left-carousel {
  /* max-width: 100%; */
  position: relative;
  background-color: red;
  /* top: -25rem; */
  /* top: 8rem; */
  top: 4rem;
}
.main-section-about-title {
  position: relative;
  /* background-color: rebeccapurple; */
  height: 3rem;
  /* width: 100%; */
  max-width: 50%;
  top: 1rem;
  left: 10rem;
}

.main-section-about-title_text {
  font-size: 5rem;
  color: white;
  font-weight: bold;
  /* letter-spacing: 1rem; */
  text-align: center;
}

.main-section-about-title_text:hover {
  letter-spacing: 1rem;
}

.e5_34_ {
  width: 207px;
  height: 44.94282531738281px;
  position: absolute;
  left: 99px;
  top: 369.3127746582031px;
}

.e5_26_ {
  background-color: rgba(
    212.00000256299973,
    241.00000083446503,
    244.0000006556511,
    1
  );
  width: 268px;
  height: 314.5997619628906px;
  position: absolute;
  left: 4px;
  top: -0.0000016079890201581293px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rebeccapurple;
}

.e5_39_ {
  width: 272px;
  height: 314.5997619628906px;
  position: absolute;
  left: 406px;
  top: 61.55213165283203px;
  background-color: magenta;
}

.e5_18_ {
  background-color: rgba(
    117.00000062584877,
    230.00000149011612,
    218.00000220537186,
    1
  );
  width: 404px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  /* background-color: magenta; */
}

.e5_41_ {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: magenta;
}

.e5_42_ {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rebeccapurple;
}

.e6_3_ {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 66px;
  top: 177px;
}

.e5_17_ {
  background-color: rgba(
    24.000000469386578,
    154.00000602006912,
    180.00000447034836,
    1
  );
  width: 1512px;
  height: 401px;
  position: absolute;
  left: 0px;
  top: 198px;
  background-color: red;
}

.e5_2 {
  background-color: rgba(
    5.000000176951289,
    68.00000354647636,
    94.0000019967556,
    1
  );
  width: 1512px;
  height: 103px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e5_4 {
  background-color: rgba(
    242.00000077486038,
    243.00000071525574,
    244.0000006556511,
    1
  );
  width: 129px;
  height: 103px;
  position: absolute;
  left: -12px;
  top: 0px;
  border-radius: 10px;
}
.e5_9 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 39px;
  position: absolute;
  left: 145px;
  top: 32px;
  font-family: Inter;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}

.e5_12 {
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: 34px;
  position: absolute;
  left: 292px;
  top: 34px;
  font-family: Inter;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}
.e5_13 {
  color: rgba(255, 255, 255, 1);
  width: 87px;
  height: 34px;
  position: absolute;
  left: 405px;
  top: 34px;
  font-family: Inter;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}
.e5_14 {
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: 34px;
  position: absolute;
  left: 535px;
  top: 34px;
  font-family: Inter;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}

.e5_28 {
  color: rgba(28.000000230968, 40.00000141561031, 51.00000075995922, 1);
  width: 268px;
  height: 175.8632354736328px;
  position: absolute;
  left: 0.000005489934665092733px;
  top: 85.97757720947266px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
.e5_31 {
  color: rgba(28.000000230968, 40.00000141561031, 51.00000075995922, 1);
  width: 404px;
  height: 87.9316177368164px;
  position: absolute;
  left: 0.000007750495569780469px;
  top: 152.414794921875px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}

.e5_32 {
  background-color: rgba(
    5.000000176951289,
    68.00000354647636,
    94.0000019967556,
    1
  );
  width: 207px;
  height: 44.94282531738281px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.e5_33 {
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 30.287555694580078px;
  position: absolute;
  left: 61px;
  top: 6.8391313552856445px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
/*
.e6_2 {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 771px;
  top: 177px;
}
.e5_43 {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e5_38 {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e5_40 {
  width: 678px;
  height: 442.589111328125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e5_20 {
  background-color: rgba(
    117.00000062584877,
    230.00000149011612,
    218.00000220537186,
    1
  );
  width: 404px;
  height: 442.589111328125px;
  position: absolute;
  left: 274px;
  top: 0px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
}
.e5_27 {
  background-color: rgba(
    212.00000256299973,
    241.00000083446503,
    244.0000006556511,
    1
  );
  width: 268px;
  height: 314.5997619628906px;
  position: absolute;
  left: -1.8922105482488405e-7px;
  top: 64.48318481445312px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.e5_29 {
  color: rgba(28.000000230968, 40.00000141561031, 51.00000075995922, 1);
  width: 268px;
  height: 175.8632354736328px;
  position: absolute;
  left: -1.8922105482488405e-7px;
  top: 147.5297088623047px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
.e5_30 {
  color: rgba(5.000000176951289, 68.00000354647636, 94.0000019967556, 1);
  width: 404px;
  height: 92.81670379638672px;
  position: absolute;
  left: 274px;
  top: 152.414794921875px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
.e5_35 {
  width: 207px;
  height: 44.94282531738281px;
  position: absolute;
  left: 372px;
  top: 377.1289367675781px;
}
.e5_36 {
  background-color: rgba(
    5.000000176951289,
    68.00000354647636,
    94.0000019967556,
    1
  );
  width: 207px;
  height: 44.94282531738281px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.e5_37 {
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: 30.287555694580078px;
  position: absolute;
  left: 61px;
  top: 6.839112758636475px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
.e8_8 {
  width: 1512px;
  height: 1148.97314453125px;
  position: absolute;
  left: 0px;
  top: 771.0269165039062px;
}
.e6_4 {
  background-color: rgba(
    24.000000469386578,
    154.00000602006912,
    180.00000447034836,
    1
  );
  width: 1512px;
  height: 1148.97314453125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e6_5 {
  background-color: rgba(
    5.000000176951289,
    68.00000354647636,
    94.0000019967556,
    1
  );
  width: 664px;
  height: 142.64462280273438px;
  position: absolute;
  left: 424px;
  top: 0px;
  border-radius: Symbol(figma.mixed) px;
}
.e6_9 {
  color: rgba(255, 255, 255, 1);
  width: 457px;
  height: 93.7937240600586px;
  position: absolute;
  left: 537px;
  top: 13.678251266479492px;
  font-family: Inter;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
}
.e8_3 {
  width: 600px;
  height: 599.8890380859375px;
  position: absolute;
  left: 76px;
  top: 199.31166076660156px;
}
.e6_10 {
  background-color: rgba(
    117.00000062584877,
    230.00000149011612,
    218.00000220537186,
    1
  );
  width: 600px;
  height: 599.8890380859375px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: Symbol(figma.mixed) px;
}
.e6_11 {
  background-color: rgba(
    212.00000256299973,
    241.00000083446503,
    244.0000006556511,
    1
  );
  width: 334px;
  height: 94.77073669433594px;
  position: absolute;
  left: 133px;
  top: 0.0000030107028123893542px;
  border-radius: Symbol(figma.mixed) px;
}
.e8_4 {
  width: 600px;
  height: 599.8890380859375px;
  position: absolute;
  left: 866px;
  top: 199.31166076660156px;
}
.e8_5 {
  background-color: rgba(
    117.00000062584877,
    230.00000149011612,
    218.00000220537186,
    1
  );
  width: 600px;
  height: 599.8890380859375px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: Symbol(figma.mixed) px;
}
.e8_6 {
  background-color: rgba(
    212.00000256299973,
    241.00000083446503,
    244.0000006556511,
    1
  );
  width: 334px;
  height: 94.77073669433594px;
  position: absolute;
  left: 133px;
  top: 0.0000030107028123893542px;
  border-radius: Symbol(figma.mixed) px;
}
.e8_2 {
  color: rgba(5.000000176951289, 68.00000354647636, 94.0000019967556, 1);
  width: 288px;
  height: 52.758968353271484px;
  position: absolute;
  left: 221px;
  top: 221.7830810546875px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
.e8_7 {
  color: rgba(5.000000176951289, 68.00000354647636, 94.0000019967556, 1);
  width: 288px;
  height: 52.758968353271484px;
  position: absolute;
  left: 1022px;
  top: 220.80606079101562px;
  font-family: Inter;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0;
}
*/

.dario-about-title {
  /* background-color: red; */
  text-align: center;
}

.dario-about {
  /* background-color: blue; */
  position: relative;
  top: 5rem;
}

.dario-work-exp {
  /* top: 5rem; */
  position: relative;
  /* background-color: red; */
  text-align: center;
  margin-bottom: 5rem;
}

.dario-section {
  position: relative;
  /* top: 50rem; */
  text-align: center;
  margin-bottom: 5rem;
  /* margin-bottom: 1rem; */
}

.test {
  background-color: green;
}

.dario-iframe {
  /* width: ; */
  height: 35rem;
}
