<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_91e2a2e08dd332acd2b38d8bcc403d3e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_91e2a2e08dd332acd2b38d8bcc403d3e" ></div>
        
</body>
<script>    
    
            var map_91e2a2e08dd332acd2b38d8bcc403d3e = L.map(
                "map_91e2a2e08dd332acd2b38d8bcc403d3e",
                {
                    center: [40.73061, -73.935242],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aeb338ae9b6b07eb84fbddcbf5b032fc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 14, "maxZoom": 14, "minZoom": 3, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
            var marker_55ad8ad1e0a3efcce5babafeb94bc788 = L.marker(
                [18.483402, -69.929611],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_a33cf20d780288e98037994002498eed = L.popup({"maxWidth": "100%"});

        
            var html_05421d8722633252dbbf8faded2b0d4f = $(`<div id="html_05421d8722633252dbbf8faded2b0d4f" style="width: 100.0%; height: 100.0%;"><i>Dominican Republic</i></div>`)[0];
            popup_a33cf20d780288e98037994002498eed.setContent(html_05421d8722633252dbbf8faded2b0d4f);
        

        marker_55ad8ad1e0a3efcce5babafeb94bc788.bindPopup(popup_a33cf20d780288e98037994002498eed)
        ;

        
    
    
            marker_55ad8ad1e0a3efcce5babafeb94bc788.bindTooltip(
                `<div>
                     Click me 😄
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b0da6e2d286c31bd8eb4032fe4860e1a = L.marker(
                [40.768742, -73.965179],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_39e44a5e7032eb0e92268c7059d69ae8 = L.popup({"maxWidth": "100%"});

        
            var html_a87c0bb3eb1693533b5e1c6a9b414134 = $(`<div id="html_a87c0bb3eb1693533b5e1c6a9b414134" style="width: 100.0%; height: 100.0%;"><i>Hunter College</i></div>`)[0];
            popup_39e44a5e7032eb0e92268c7059d69ae8.setContent(html_a87c0bb3eb1693533b5e1c6a9b414134);
        

        marker_b0da6e2d286c31bd8eb4032fe4860e1a.bindPopup(popup_39e44a5e7032eb0e92268c7059d69ae8)
        ;

        
    
    
            marker_b0da6e2d286c31bd8eb4032fe4860e1a.bindTooltip(
                `<div>
                     Click me 😛
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ba56a7f7b5cf7ac182b8f81e99718eb0 = L.marker(
                [40.71433, -74.01516],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_ae812dfbbe07f501c2c6f4d0d7ac2a3a = L.popup({"maxWidth": "100%"});

        
            var html_33f1b0018004d17d4f4924a6707b1261 = $(`<div id="html_33f1b0018004d17d4f4924a6707b1261" style="width: 100.0%; height: 100.0%;"><i>North Cove Marina</i></div>`)[0];
            popup_ae812dfbbe07f501c2c6f4d0d7ac2a3a.setContent(html_33f1b0018004d17d4f4924a6707b1261);
        

        marker_ba56a7f7b5cf7ac182b8f81e99718eb0.bindPopup(popup_ae812dfbbe07f501c2c6f4d0d7ac2a3a)
        ;

        
    
    
            marker_ba56a7f7b5cf7ac182b8f81e99718eb0.bindTooltip(
                `<div>
                     Click me 😜
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_afe6aa48dc4ca106ff3ca0956eb107e7 = L.marker(
                [40.752171, -74.008011],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_16da91e47ec5c6ec0bf1af1c47f1608d = L.popup({"maxWidth": "100%"});

        
            var html_d49519886950a59ff23cc209a16c2044 = $(`<div id="html_d49519886950a59ff23cc209a16c2044" style="width: 100.0%; height: 100.0%;"><i>Hudson River Community Sailing Chelsea</i></div>`)[0];
            popup_16da91e47ec5c6ec0bf1af1c47f1608d.setContent(html_d49519886950a59ff23cc209a16c2044);
        

        marker_afe6aa48dc4ca106ff3ca0956eb107e7.bindPopup(popup_16da91e47ec5c6ec0bf1af1c47f1608d)
        ;

        
    
    
            marker_afe6aa48dc4ca106ff3ca0956eb107e7.bindTooltip(
                `<div>
                     Click me 😏
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8b0d79f02b69805e4c882dc34c6c274 = L.marker(
                [40.86842, -73.9308],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_9561f25dbcb121ee35db0c90ac431493 = L.popup({"maxWidth": "100%"});

        
            var html_ed2f8ec617bfd729495a2fbc0b553f2a = $(`<div id="html_ed2f8ec617bfd729495a2fbc0b553f2a" style="width: 100.0%; height: 100.0%;"><i>Hudson River Community Sailing Inwood</i></div>`)[0];
            popup_9561f25dbcb121ee35db0c90ac431493.setContent(html_ed2f8ec617bfd729495a2fbc0b553f2a);
        

        marker_e8b0d79f02b69805e4c882dc34c6c274.bindPopup(popup_9561f25dbcb121ee35db0c90ac431493)
        ;

        
    
    
            marker_e8b0d79f02b69805e4c882dc34c6c274.bindTooltip(
                `<div>
                     Click me 😉
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_56e7ff82064fa7aa39f3f583603c1706 = L.marker(
                [40.829269, -73.927933],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_841bb5a60206cefef83d694d29287397 = L.popup({"maxWidth": "100%"});

        
            var html_82c6d96cca14f4d307c2564341230b62 = $(`<div id="html_82c6d96cca14f4d307c2564341230b62" style="width: 100.0%; height: 100.0%;"><i>Yankee Stadium</i></div>`)[0];
            popup_841bb5a60206cefef83d694d29287397.setContent(html_82c6d96cca14f4d307c2564341230b62);
        

        marker_56e7ff82064fa7aa39f3f583603c1706.bindPopup(popup_841bb5a60206cefef83d694d29287397)
        ;

        
    
    
            marker_56e7ff82064fa7aa39f3f583603c1706.bindTooltip(
                `<div>
                     Click me 😛
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_145bc3245edb4e0875cf880242ece9c4 = L.marker(
                [40.602344, -75.471807],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_da1a11595a6fa4ec4c57a62732c56236 = L.popup({"maxWidth": "100%"});

        
            var html_a8cc78b5582b89b5283fedc648c43d06 = $(`<div id="html_a8cc78b5582b89b5283fedc648c43d06" style="width: 100.0%; height: 100.0%;"><i>Allentown</i></div>`)[0];
            popup_da1a11595a6fa4ec4c57a62732c56236.setContent(html_a8cc78b5582b89b5283fedc648c43d06);
        

        marker_145bc3245edb4e0875cf880242ece9c4.bindPopup(popup_da1a11595a6fa4ec4c57a62732c56236)
        ;

        
    
    
            marker_145bc3245edb4e0875cf880242ece9c4.bindTooltip(
                `<div>
                     Click me 😅
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cffc4d94578c620dc948d6310fb7ae8b = L.marker(
                [39.9527237, -75.1635262],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_8f190d1e93fb7c64588d2e5e1282cfdb = L.popup({"maxWidth": "100%"});

        
            var html_2d52327e839ffea8d9f0905a29f5034d = $(`<div id="html_2d52327e839ffea8d9f0905a29f5034d" style="width: 100.0%; height: 100.0%;"><i>Philadelphia</i></div>`)[0];
            popup_8f190d1e93fb7c64588d2e5e1282cfdb.setContent(html_2d52327e839ffea8d9f0905a29f5034d);
        

        marker_cffc4d94578c620dc948d6310fb7ae8b.bindPopup(popup_8f190d1e93fb7c64588d2e5e1282cfdb)
        ;

        
    
    
            marker_cffc4d94578c620dc948d6310fb7ae8b.bindTooltip(
                `<div>
                     Click me 😳
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f1639bcf0d44103201d49aaf25f673a = L.marker(
                [40.91177056572849, -73.12281575078127],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_069944b6559deffcced8948715a9223e = L.popup({"maxWidth": "100%"});

        
            var html_88d552d44968396506df45161595c794 = $(`<div id="html_88d552d44968396506df45161595c794" style="width: 100.0%; height: 100.0%;"><i>Stony Brook University</i></div>`)[0];
            popup_069944b6559deffcced8948715a9223e.setContent(html_88d552d44968396506df45161595c794);
        

        marker_1f1639bcf0d44103201d49aaf25f673a.bindPopup(popup_069944b6559deffcced8948715a9223e)
        ;

        
    
    
            marker_1f1639bcf0d44103201d49aaf25f673a.bindTooltip(
                `<div>
                     Click me 👀
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_16a602f1c9bbf674cff8172ac2e3b2a1 = L.marker(
                [40.69034506729761, -73.9811226355469],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_874bd39fe22c88573eed85179386ab76 = L.popup({"maxWidth": "100%"});

        
            var html_dbdebe3bccbbbccf070fbcf373490ad3 = $(`<div id="html_dbdebe3bccbbbccf070fbcf373490ad3" style="width: 100.0%; height: 100.0%;"><i>Brooklyn</i></div>`)[0];
            popup_874bd39fe22c88573eed85179386ab76.setContent(html_dbdebe3bccbbbccf070fbcf373490ad3);
        

        marker_16a602f1c9bbf674cff8172ac2e3b2a1.bindPopup(popup_874bd39fe22c88573eed85179386ab76)
        ;

        
    
    
            marker_16a602f1c9bbf674cff8172ac2e3b2a1.bindTooltip(
                `<div>
                     Click me 🤭
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86dc00d52c85cbcbf718a3e8be700837 = L.marker(
                [40.567098788284135, -73.88327565068361],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_09c12e6b6b55781df13d21cd265c13c7 = L.popup({"maxWidth": "100%"});

        
            var html_abdfef9c64576168451505b0642e9c45 = $(`<div id="html_abdfef9c64576168451505b0642e9c45" style="width: 100.0%; height: 100.0%;"><i>Rockaway</i></div>`)[0];
            popup_09c12e6b6b55781df13d21cd265c13c7.setContent(html_abdfef9c64576168451505b0642e9c45);
        

        marker_86dc00d52c85cbcbf718a3e8be700837.bindPopup(popup_09c12e6b6b55781df13d21cd265c13c7)
        ;

        
    
    
            marker_86dc00d52c85cbcbf718a3e8be700837.bindTooltip(
                `<div>
                     Click me 😳
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e6172ab6b5846e74ba0174dc2961ca33 = L.marker(
                [40.979712960138066, -73.6819168555176],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_795dc3a2054e80c11b54e85ce8dc49dc = L.popup({"maxWidth": "100%"});

        
            var html_6769878fd22d66bcd76b809a72a3454c = $(`<div id="html_6769878fd22d66bcd76b809a72a3454c" style="width: 100.0%; height: 100.0%;"><i>City of Rye</i></div>`)[0];
            popup_795dc3a2054e80c11b54e85ce8dc49dc.setContent(html_6769878fd22d66bcd76b809a72a3454c);
        

        marker_e6172ab6b5846e74ba0174dc2961ca33.bindPopup(popup_795dc3a2054e80c11b54e85ce8dc49dc)
        ;

        
    
    
            marker_e6172ab6b5846e74ba0174dc2961ca33.bindTooltip(
                `<div>
                     Click me 😄
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3050fca7100227f2d36230786128dfbd = L.marker(
                [41.460555380559654, -73.65788426274416],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_cdc0b9084be4c081a7aa3faa5420db04 = L.popup({"maxWidth": "100%"});

        
            var html_b4a9bdeadef0fab086a7718cb01df7bf = $(`<div id="html_b4a9bdeadef0fab086a7718cb01df7bf" style="width: 100.0%; height: 100.0%;"><i>Lake Carmel</i></div>`)[0];
            popup_cdc0b9084be4c081a7aa3faa5420db04.setContent(html_b4a9bdeadef0fab086a7718cb01df7bf);
        

        marker_3050fca7100227f2d36230786128dfbd.bindPopup(popup_cdc0b9084be4c081a7aa3faa5420db04)
        ;

        
    
    
            marker_3050fca7100227f2d36230786128dfbd.bindTooltip(
                `<div>
                     Click me 😛
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7bcab95e4b0e339bbca0415658c1753f = L.marker(
                [40.84320455568779, -73.78479873891601],
                {}
            ).addTo(map_91e2a2e08dd332acd2b38d8bcc403d3e);
        
    
        var popup_704cc8752cb39c72864e43476602a47f = L.popup({"maxWidth": "100%"});

        
            var html_e343e7d11f987596dac5d5b57306ddb5 = $(`<div id="html_e343e7d11f987596dac5d5b57306ddb5" style="width: 100.0%; height: 100.0%;"><i>City Island</i></div>`)[0];
            popup_704cc8752cb39c72864e43476602a47f.setContent(html_e343e7d11f987596dac5d5b57306ddb5);
        

        marker_7bcab95e4b0e339bbca0415658c1753f.bindPopup(popup_704cc8752cb39c72864e43476602a47f)
        ;

        
    
    
            marker_7bcab95e4b0e339bbca0415658c1753f.bindTooltip(
                `<div>
                     Click me 😉
                 </div>`,
                {"sticky": true}
            );
        
</script>