{% extends "base.html" %}
{% import "_nav-bar.html" as macros %}
{% block title %} Dario {% endblock %}

{% block nav %} 
  <!-- {% include '_nav-bar.html'  %} -->
  {{ macros.nav(active="dario" )}}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row justify-content-md-center dario-about">
    <div class="row dario-section">
      <div class="col-12  col-md-6 dario-about-title ">
        <img src="./static/img/d_logo_2.jpeg" class="w-50" alt="">
      </div>
      <div class="col-12  col-md-6 ">
        <p class="display-1">About Dario</p>
        <p class="lead">
          Hello All, my name is Dario. I migrated to the United States right before 
          turning 12. I did not speak English when I first arrived in the US, but neither was I able to write or read in Spanish. 
        </p>
  
        <p class="lead">
          Upon arriving in the US. I requested to be placed in an all-English school 
          because I wanted to be able to communicate with other kids. After learning 
          some English, I had to also start learning to read and write in Spanish to
          be able to communicate with people at home. 
        </p>
  
        <p class="lead">
          I became curious about computers and programming and started doing independent studies into them. 
          I began with HTML, then moved to CSS, and finally JavaScript. 
          In my senior year of high school, my school introduced an AP-CS class, my first formal computer science class. 
        </p>
  
        <p class="lead">
          In college, I was introduced to formal computational theories and more programming languages such as C++, Python, and SQL, and mathematical ways to analyze algorithms. 
        </p>
  
      </div>
    </div>
    
    <div class="col-12 dario-section">
      <div class="col col-12">
        <p class="display-1">Work Experience</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="https://static01.nyt.com/images/2019/08/22/nyregion/21summer-newsletter/21summer-newsletter-superJumbo.jpg" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6">
              <p class="h2">Sailing Instructor (2018 - present)</p>
              <p>While working as a US-Sailing Instructor at Hudson River Community Sailing, 
                I teach multiple sailing curriculums in various programs, 
                such as an adult program and a youth program. 
                HRCS has helped me become a leader by providing me with the opportunity to develop programs and giving me 
                opportunities to implement changes as I see fit. </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dd/NYCDOITT.svg/1200px-NYCDOITT.svg.png" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6">
              <p class="h2">Application Developer Intern (2019 - 2020)</p>
              <p>As an application developer at the NYC Department of Transportation, 
                I worked on a front-end react application. Our goal was to make it easier for users 
                to share and request data from multiple systems in the city. 
                I was also tasked with creating ER diagrams for our database and researching query optimization options. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 dario-section">
      <div class="col col-12">
        <p class="display-1">Hobbies</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <p class="h2">Reading & Listening to Books</p>
              <p> I enjoy reading in my downtime. Usually, I do either Audio Books or read a hard copy, but often I do a combination of both. I enjoy reading classical novels and texts that prompt me to reflect. The list of my most impactful books is as follows; 1. Fahrenheit 451, 2. Catch-22, 3. Bluest Eye, 4. The Old Man and the Sea, and 5. Between the World and Me.

                <br/>
                I recently read Atlas of The Heart by Brené Brown, which I am still digesting...there is a lot there, lolz.
              </p>
            </div>
            <div class="col-12 col-md-6">
              <img src="http://3.bp.blogspot.com/-95Mg5rtVvLU/VX9PFxB-gyI/AAAAAAAAJ9I/mi_3t9Z3PuU/s1600/Ta-Nehisi%2BCoates%2BBetween%2BThe%2BWorld%2BAnd%2BMe%2B2c.jpg" class="w-100" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <p class="h2">Playing the Guitar (and Piano*)</p>
              <p>I currently play the guitar when I need to relax. I am not that good at it, but I think I can play around a campfire. I used to play the piano when I was younger, but I have not played in years.
              </p>
            </div>
            <div class="col-12 col-md-6">
              <img src="https://m.media-amazon.com/images/I/71lWjvf2CeL._AC_SL1500_.jpg" class="w-100" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 dario-section">
      <div class="col col-12">
        <p class="display-1">Education</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="https://static.timesofisrael.com/www/uploads/2021/11/11-17-21-hunter-e1637335381177.jpg" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6">
              <p class="h2">The City University of New York Hunter College (2018 - 2022) </p>
              <ul>
                <li class="display-6">Bachelors of Science <span class="text-muted">Computer Science</span> </li>
                <li class="display-6 lh-lg"> Economics <span class="text-muted">Minor</span> </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <!-- <div class="col-12 col-md-6">
              <img src="https://m.media-amazon.com/images/I/71lWjvf2CeL._AC_SL1500_.jpg" class="w-100" alt="">
            </div> -->
            <div class="col-12">
              <p class="h2">Other Educations</p>
              <div class="row">
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Readings</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Udemy</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Structy</a>

                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                      I like to go back and review concepts I learn in school on my own time by reading about them. For example: <br/>
                      <ul>
                        <li>Data Structures Algorithms in Swift Implementing Practical Data Structures with Swift by Kelvin Lau, Vincent Ngo</li>
                        <li>Essential SQLAlchemy, 2nd Edition Mapping Python to Databases by Jason Myers, Rick Copeland</li>
                        <li>Understanding Machine Learning From Theory to Algorithms by Shai Shalev-Shwartz, Shai Ben-David</li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">I have taken many classes on Udemy, ranging from scripting courses to web development and database management systems. I have multiple certificates from completed studies.</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Structy is an Algorithms and Data Structure web program designed like an online course. There are videos explaining concepts, pseudo code, and general descriptions of algorithms. Using Structy, I boosted my confidence with graph traversal and pathfinding.</div>

                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>

    <div class="col-12 dario-section">
      <div class="col col-12">
        <p class="display-1">Locations I have Visited</p>
      </div>
      <div class="row">
        <div class="col-12">
          <iframe src="{{ url_for('main.visited_map', for_person='dario') }}" class="col-12 dario-iframe"></iframe>
          <p>This map was created using Folium</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}