<!DOCTYPE html>
<html lang="en">
    <!--- HTML form data --->

    <head>
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">

        <title>Form submit width Fetch API</title>
    </head>

    <body>
        <form id="form">
            <input name="name" type="name">
            <input name="email" type="email">
            <input name="content" type="content">
            <button type="submit">Submit</button>
        </form> 
    </body>


    <script>
        const form = document.getElementById('form');
    
        form.addEventListener('submit', function(e) {
            
            e.preventDefault();

            const prePayload = new FormData(form);
            const payload = new URLSearchParams(prePayload);
            
            console.log([...payload]);

            fetch ('http://httpbin.org/post',{
                method: "POST",
                body: prePayload,
            })
            .then(res => res.json())
            .then(data => console.log(data))
            .catch(err => console.log(err));
    })
        
    </script>
</html>