{% extends "base.html" %}
{% import "_nav-bar.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ title }} {% endblock %}

{% block nav %} 
  {{ macros.nav(active="timeline")}}
{% endblock %}

{% block custome_css %}
  {{ super() }}
  <link lang="sass" rel="stylesheet" href="./static/styles/timeline.css" />
{% endblock %}


{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {{ wtf.quick_form(form) }}
      <h4 class="h2 mt-5"> Dario's Timeline</h4>
      {% include '_timeline.html' %}
    </div>
  </div>
</div>

{% endblock %}